# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/MintNFT.s.sol/*
# Docs
docs/

# Dotenv file
.env
.idea/
env.sh
pk.sh
forgeconfig.txt
